# Vim files
*~
.*~
*.un~
*.swp
.*.swp

# Prerequisites
*.d
*.depend

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# DS_Store files
.DS_Store

# CMake compile files
cmake-build-debug/
CMakeLists.txt

# IDEA files
.idea/

# Doxygen files
doxygen/
html/
latex/
man/

# Code::Blocks IDE files
*.cbp
*.layout
*.save
obj/
bin/

# Eclipse files
Debug/
.cproject
.project
.settings/

# Xcode files
*.xcodeproj/

